@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Reddit+Mono:wght@200..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #94a3b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #64748b;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    background-color: #475569;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container label {
    padding: 8px;
    color: #f1f5f9;
    font-weight: bold;
}

.input-container input {
    padding: 10px;
    background-color: #cbd5e1 ;
    border-style: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.input-container button {
    color: #e2e8f0;
    margin: 8px;
    padding: 12px;
    border-style: none;
    border-radius: 8px;
    background-color: #1e293b ;
}
.input-container button:hover{
    background-color: #e2e8f0;
    color: #1e293b;
    cursor: pointer;
}